.piz{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa0OQbYcyhc0u2IJzTCSwB7Z4qFKUXENJKyw&usqp=CAU);
}
h1{
    color: white;
}
p{
    color: white;
}
.row{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa0OQbYcyhc0u2IJzTCSwB7Z4qFKUXENJKyw&usqp=CAU);
    background-repeat: round;
}